header {
    font-family: 'Butterfly Kids', cursive;
    font-size: 8em;
    text-align: center;
    color: green;
}

.app-container {
    /* border: 1px solid brown; */
    position: relative;
    height: 100%;
}

.input-div {
    /* border: 1px solid green; */
    position: absolute;
    left: 39.5vw;
    top: 2vh;
}

button {
    width: 10em;
    height: 2em;
}

input {
    width: 15em;
    height: 2em;
}

.output-div {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    font-size: 2em;
    width: 1200px;
    height: 45px;
    position: absolute;
    left: 18vw;
    top: 6vh;
    z-index: 3;
}

.drop-container {
    /* border: 1px solid black; */
    width: 520px;
    height: 612px;
    position: absolute;
    left: 35vw;
    top: 10vh;
}

.kid {
    /* width: 25%; */
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.mouth-div {
    height: 150px;
    width: 140px;
    /* border: 1px solid black; */
    position: absolute;
    top: 250px;
    left: 160px;
    z-index: 2;
}

.coin-div {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column wrap;
    width: 65px;
    position: absolute;
    left: 31vw;
    top: 30vh;
}

.coin {
    width: 60px;
    /* border: 1px solid green; */
}
